html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block;
}

a {
  color: inherit;
  text-decoration: none;
}

a:active, a:hover {
  outline-width: 0;
}

ul, ol, dl {
  list-style: none;
}

img {
  border-style: none;
}

input {
  border-radius: 0;
}

[type="search"] {
  -webkit-appearance: textfield;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background: #e6e8ea;
  font-size: 14px;
  min-height: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body * {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

.frame-sidebar {
  width: 240px;
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  z-index: 100;
  background: #111;
  overflow: hidden;
  color: #fff;
}
.frame-sidebar .sidebar-header {
  padding: 10px;
  text-align: center;
  height: 60px;
  line-height: 40px;
}
.frame-sidebar .sidebar-header .logo {
  color: #eee;
  font-size: 22px;
}
.frame-sidebar .sidebar-content {
  width: 260px;
  overflow-x: hidden;
  overflow-y: scroll;
  background: #34495E;
}
.frame-sidebar .sidebar-content ul {
  width: 240px;
}
.frame-sidebar .sidebar-content li {
  margin: 5px 0;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.frame-sidebar .sidebar-content li a {
  display: block;
  padding: 5px 40px 5px 53px;
  font-size: 13px;
  line-height: 22px;
  border: 1px solid transparent;
  position: relative;
}
.frame-sidebar .sidebar-content li a:hover {
  border-top-color: #435d78;
  border-bottom-color: #435d78;
  -webkit-box-shadow: 0 0 3px #435d78;
  -moz-box-shadow: 0 0 3px #435d78;
  box-shadow: 0 0 3px #435d78;
}
.frame-sidebar .sidebar-content li a i {
  position: absolute;
  left: 25px;
  top: 50%;
  margin-top: -9px;
  width: 18px;
  height: 18px;
  font-size: 18px;
}
.frame-sidebar .sidebar-content li a .sidebar-arrow {
  position: absolute;
  right: 15px;
  top: 50%;
  font-size: 16px;
  width: 16px;
  height: 16px;
  margin-top: -8px;
  text-align: center;
}
.frame-sidebar .sidebar-content .active > a {
  -webkit-box-shadow: 3px 0 0 #435D78 inset;
  -moz-box-shadow: 3px 0 0 #435D78 inset;
  box-shadow: 3px 0 0 #435D78 inset;
}
.frame-sidebar .sidebar-content .nav-item-children {
  padding: 10px 0;
  background: #191c21;
}
.frame-sidebar .sidebar-content .nav-item-children a {
  padding-left: 73px;
}
.frame-sidebar .sidebar-content .nav-item-children i {
  left: 45px;
}
.frame-sidebar .sidebar-footer {
  padding: 10px 20px;
  height: 40px;
  border-top: 1px solid transparent;
  background: #2D3F51;
}

.frame-main {
  padding-left: 240px;
}

.frame-header {
  position: fixed;
  z-index: 100;
  padding-right: 10px;
  height: 60px;
  width: 100%;
  background: #fff;
}

/*# sourceMappingURL=frame.css.map */
