<div class="lc-block toggled">
  <p class="text-left">通过注册用户时，所使用的邮箱找回密码</p>

  <div class="input-group m-b-20">
    <span class="input-group-addon"><i class="zmdi zmdi-email"></i></span>
    <div class="fg-line">
      <input type="text" class="form-control" placeholder="请输入邮箱">
    </div>
  </div>

  <a href="" class="btn btn-login btn-danger btn-float"><i class="zmdi zmdi-arrow-forward"></i></a>

  <ul class="login-navigation">
    <li class="bgm-green" (click)="toLogin();">登录</li>
    <li class="bgm-red" (click)="toRegister();">注册</li>
  </ul>
</div>
