$fontColor: #333;
$frameBgColor: #e6e8ea;
$sidebarBgColor: #181d20;
$sidebarHeaderBgColor: #111;
$sidebarContentBgColor: #34495E;
$sidebarFooterBgColor: #2D3F51;
$sidebarItemHoverColor: #435d78;
$sidebarChildItemColor: #191c21;
$frameHeaderBgColor: #fff;
